* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
.container {
    width: 100%;
    height: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.header {
    width: 100%;
    height: 10%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ourname {
    margin-left: 30px;
    width: 60%;
    font-family: poppins;
    color: rgb(44, 71, 62);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.header img {
    width: 40px;
    height: 35px;
}

#notification_icon {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#notification_icon img {
    width: 30px;
    height: 25px;
}

#avatar {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(151, 236, 138);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img {
    width: 40px;
    height: 35px;
}

.footer div {
    margin: 10px;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#temp_chart h4 {
    font-size: 20px;
    color: rgb(44, 71, 62);
    font-family: poppins;
    font-weight: bold;
}

.control_light {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-top: 20px;
    background-color: rgb(233, 251, 230);
    padding: 5px;
    border-radius: 5px;
}

#submit_button {
    width: 40%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
}
#display_screen {
    margin: 0 auto;
    width: 90%;
    height: 80%;
    background-color: #30e5d0;
    padding: 20px 0px 20px 0px;
    border-radius: 20px;
}

.display_temp,
.display_humi,
.display_light {
    display: flex;
    margin: 10px 0 10px 24px;
}

.name_display,
.para_display {
    font-size: 24px;
    line-height: 40px;
    margin-left: 24px;
}

.icon-screen {
    line-height: 40px;
    font-size: 32px;
    color: #ccc;
    width: 32px;
    height: 34px;
}

#button_display {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#button_display img {
    width: 60px;
    height: 50px;
    margin: 10px;
}

#control_button {
    width: 100%;
    margin-top: 50px;
}
.control_div {
    padding: 10px 10px 5px 10px;
    border-radius: 10px;
    border: 1px dashed black;
    margin: 10px;
    width: 40%;
}
.control_div img {
    width: 25px;
    height: 30px;
}

.control_div1,
.control_div2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-check {
    margin-top: 20px;
    margin-left: 10px;
}

.icon-footer {
    color: whitesmoke;
}

.chart_box {
    width: 320px;
    height: 200px;
}

.setTime label {
    display: block;
}
